ion-content {
  --ion-background-color: var(--ion-color-success);
}
ion-note {
  font-size: 11px;
}
.attach-file {
  --min-width: 95vw;
}
ion-popover ion-content {
  --background: var(--ion-color-medium);
}
.gallery-icon {
  color: #2256ff;
}

.camera-icon {
  color: #ce17a0;
}

.location-icon {
  color: #44ffa2;
}

.contact-icon {
  color: #42a3ff;
}

.document-icon {
  color: #cc5dff;
}

.audio-icon {
  color: #c06d00;
}

.poll-icon {
  color: #d1c300;
}

.payment-icon {
  color: #00bcd4;
}

.imagine-icon {
  color: #288cff;
}

ion-footer {
  ion-toolbar {
    --background: var(--ion-color-success);

    ion-grid {
      ion-item {
        --padding-start: 8px;
        --padding-end: 0;
        border-radius: 20px;
        background: var(--ion-color-medium);

        .material-symbols-outlined {
          color: gray;
          vertical-align: center;
        }
      }
    }
  }
}
