<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding-top">
    <ion-title mode="md">Calls</ion-title>
    <ion-buttons slot="end" mode="md">
      <ion-button (click)="camera()">
        <span class="material-symbols-outlined">camera_alt</span>
      </ion-button>
      <ion-button>
        <span class="material-symbols-outlined"> search </span>
      </ion-button>
      <ion-button (click)="presentPopover($event)">
        <span class="material-symbols-outlined">more_vert</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-popover size="auto" #popover>
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item lines="none" [button]="true">
            <span class="material-symbols-outlined" slot="start"> delete </span>
            <ion-label>Clear call log</ion-label>
          </ion-item>
          <ion-item lines="none" [button]="true" (click)="popover.dismiss()" routerLink="/settings">
            <span class="material-symbols-outlined" slot="start"> settings </span>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-label>
    <h2>Favourites</h2>
  </ion-label>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-button shape="round">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-label>Add favourite</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-label>
    <h2>Recent</h2>
  </ion-label>

  <ion-list>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u3.jpeg" alt="" />
      </ion-avatar>
      <ion-label color="danger">
        <h2 color="danger">Arun</h2>
        <p>
          <span class="material-symbols-outlined recived-icon">
            call_received
          </span>
          24 September, 2:27 pm
        </p>
      </ion-label>
      <ion-icon name="call-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u4.jpeg" alt="" />
      </ion-avatar>
      <ion-label color="danger">
        <h2 color="danger">Subash</h2>
        <p>
          <span class="material-symbols-outlined recived-icon">
            call_received
          </span>
          17 September, 9:48 pm
        </p>
      </ion-label>
      <ion-icon name="call-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u1.webp" alt="" />
      </ion-avatar>
      <ion-label color="danger">
        <h2 color="danger">Sam</h2>
        <p>
          <span class="material-symbols-outlined recived-icon">
            call_received
          </span>
          4 September, 7:08 pm
        </p>
      </ion-label>
      <ion-icon name="videocam-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u5.jpeg" alt="" />
      </ion-avatar>
      <ion-label color="dark">
        <h2>Suresh</h2>
        <p>
          <span class="material-symbols-outlined made-icon"> call_made </span>
          29 August, 2:53 pm
        </p>
      </ion-label>
      <ion-icon name="call-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u2.webp" alt="" />
      </ion-avatar>
      <ion-label color="dark">
        <h2>Divya</h2>
        <p>
          <span class="material-symbols-outlined made-icon"> call_made </span>
          2 August, 8:15 am
        </p>
      </ion-label>
      <ion-icon name="call-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u7.jpeg" alt="" />
      </ion-avatar>
      <ion-label color="dark">
        <h2>Afdeen(3)</h2>
        <p>
          <span class="material-symbols-outlined made-icon"> call_made </span>
          1 August, 8:35 pm
        </p>
      </ion-label>
      <ion-icon name="videocam-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u9.jpg" alt="" />
      </ion-avatar>
      <ion-label color="dark">
        <h2>Sanger</h2>
        <p>
          <span class="material-symbols-outlined made-icon"> call_made </span>
          28 July, 3:59 pm
        </p>
      </ion-label>
      <ion-icon name="call-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u3.jpeg" alt="" />
      </ion-avatar>
      <ion-label color="danger">
        <h2 color="danger">Arun(2)</h2>
        <p>
          <span class="material-symbols-outlined recived-icon">
            call_received
          </span>
          16 July, 12:30 pm
        </p>
      </ion-label>
      <ion-icon name="videocam-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u4.jpeg" alt="" />
      </ion-avatar>
      <ion-label color="danger">
        <h2 color="danger">Subash</h2>
        <p>
          <span class="material-symbols-outlined recived-icon">
            call_received
          </span>
          17 September, 9:48 pm
        </p>
      </ion-label>
      <ion-icon name="call-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u1.webp" alt="" />
      </ion-avatar>
      <ion-label color="danger">
        <h2 color="danger">Sam</h2>
        <p>
          <span class="material-symbols-outlined recived-icon">
            call_received
          </span>
          4 September, 7:08 pm
        </p>
      </ion-label>
      <ion-icon name="videocam-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u5.jpeg" alt="" />
      </ion-avatar>
      <ion-label color="dark">
        <h2>Suresh</h2>
        <p>
          <span class="material-symbols-outlined made-icon"> call_made </span>
          29 August, 2:53 pm
        </p>
      </ion-label>
      <ion-icon name="call-outline" color="dark" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u7.jpeg" alt="" />
      </ion-avatar>
      <ion-label color="dark">
        <h2>Afdeen(3)</h2>
        <p>
          <span class="material-symbols-outlined made-icon"> call_made </span>
          1 August, 8:35 pm
        </p>
      </ion-label>
      <ion-icon name="videocam-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u9.jpg" alt="" />
      </ion-avatar>
      <ion-label color="dark">
        <h2>Sanger</h2>
        <p>
          <span class="material-symbols-outlined made-icon"> call_made </span>
          28 July, 3:59 pm
        </p>
      </ion-label>
      <ion-icon name="call-outline" color="dark" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/u3.jpeg" alt="" />
      </ion-avatar>
      <ion-label color="danger">
        <h2 color="danger">Arun(2)</h2>
        <p>
          <span class="material-symbols-outlined recived-icon">
            call_received
          </span>
          16 July, 12:30 pm
        </p>
      </ion-label>
      <ion-icon name="videocam-outline" color="dark" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <ion-note>
      <span class="material-symbols-outlined" style="font-size: 16px"
        >lock</span
      >
      Your personal calls are
      <ion-text color="primary">end-to-end encrypted</ion-text>
    </ion-note>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      ><span class="material-symbols-outlined"> add_call </span></ion-fab-button
    >
  </ion-fab>
</ion-content>
