ion-avatar{
  padding: 3px;
  border: 1px solid var(--ion-color-primary);
}
.avatar {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border: none;
}
.name {
  display: block;
  margin-top: 8px;
}
.swiper{
  border: 1px solid rgba(56, 56, 56, 0.671);
  border-radius: 10px;
}
