<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <span class="material-symbols-outlined"> search </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content mode="md">
  <ion-list>
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="../../assets/u5.jpeg" alt="" />
      </ion-avatar>
      <ion-label>
        <h2>Guna</h2>
        <p>✨</p>
      </ion-label>
      <ion-buttons>
        <ion-button color="primary">
          <span class="material-symbols-outlined"> qr_code_scanner </span>
        </ion-button>
        <ion-button color="primary">
          <span class="material-symbols-outlined"> add_circle </span>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item lines="none">
      <span class="material-symbols-outlined icon" slot="start"> key </span>
      <ion-label>
        <h2>Account</h2>
        <p>Security notifications, change number</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <span class="material-symbols-outlined icon" slot="start"> lock </span>
      <ion-label>
        <h2>Privacy</h2>
        <p>Block contacts, disappearing messages</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <span class="material-symbols-outlined icon" slot="start"> robot_2 </span>
      <ion-label>
        <h2>Avatar</h2>
        <p>Create, edite, profile photo</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <span class="material-symbols-outlined icon" slot="start">
        switch_account
      </span>
      <ion-label>
        <h2>Lists</h2>
        <p>Manage people and groups</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <span class="material-symbols-outlined icon" slot="start"> chat </span>
      <ion-label>
        <h2>Chats</h2>
        <p>Theme, wallpapers, chat history</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <span class="material-symbols-outlined icon" slot="start">
        notifications
      </span>
      <ion-label>
        <h2>Notifications</h2>
        <p>Message, group & call tones</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <span class="material-symbols-outlined icon" slot="start"> data_usage </span>
      <ion-label>
        <h2>Storage and data</h2>
        <p>Network usage, auto-download</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <span class="material-symbols-outlined icon" slot="start"> language </span>
      <ion-label>
        <h2>App language</h2>
        <p>English (device's language)</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">

        <span class="material-symbols-outlined icon" slot="start"> help </span>

      <ion-label>
        <h2>Help</h2>
        <p>Help centre, contact us, privacy policy</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <span class="material-symbols-outlined icon" slot="start"> group </span>
      <ion-label>
        <h2>Invite a friend</h2>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>Also from Meta</ion-label>
    </ion-item-divider>

      <ion-item lines="none">
 <ion-icon name="logo-instagram" slot="start" ></ion-icon>
      <ion-label>
        <h2>Open Instagram</h2>
      </ion-label>
    </ion-item>
      <ion-item lines="none">
     <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-label>
        <h2>Open Facebook</h2>
      </ion-label>
    </ion-item>
      <ion-item lines="none">
     <ion-icon name="logo-electron" slot="start"></ion-icon>
      <ion-label>
        <h2>Open Threads</h2>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
